html {
    background-color: CadetBlue;
}

body {
    max-width: 600pt;
    margin: auto;
    background-color: white;
    padding: 32pt;
}

a:link {
    color: blue;
}

a:visited {
    color: green;
}

a:hover {
    color: DodgerBlue;
}

a:visited:hover {
    color: DodgerBlue;
}

a:active {
    color: OrangeRed;
}

a:visited:active {
    color: OrangeRed;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

h2 {
    text-align: center;
}

li {
    margin: 3pt;
}

