a:link {
    color: blue;
}

a:hover {
    color: DodgerBlue;
}

a:visited {
    color: green;
}

a:active {
    color: OrangeRed;
}

body {
    width: 512pt;
    margin: auto;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

h2 {
    text-align: center;
    margin-top: 16pt;
    margin-right: 0pt;
    margin-bottom: 0pt;
    margin-left: 0pt;
}

