/* allow HTML pages to look like GitHub markdown pages, combined with
   github-markdown.css from https://github.com/sindresorhus/github-markdown-css
   */

.markdown-body {
    box-sizing: border-box;
    min-width: 200px;
    max-width: 1012px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 16px !important;
    padding-left: 16px !important;
    margin-top: 32px !important;
    margin-bottom: 32px !important;
}
